@model ShippingType

          <form method="post">
             <div class="border p-3 mt-4">

                  <h2>Create Shipping Type</h2>

               <div class="row pb-2">
                  <hr />
                  
                    <div asp-validation-summary="All"></div>

                    <div class="mb-3">
                        <label asp-for="Name"> </label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary" style="width:150px"> Create </button>
                    <a asp-controller="ShippingType" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back
                    </a>

               </div>
             </div>
          </form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
     }
}
   


  
