@model int
<div class="container row pt-5 ">
    <div class="col-12 text-center pt-4">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : @Model <br /><br />
        
    </div>
    <div class="col-12 text-center" style="color:maroon">
        
    </div>
</div> 


